<button type="button" class="btn-darkmode btn-light color-mode-switch hs-dark-mode-active:hidden" data-hs-theme-click-value="dark">
    <svg class="w-4 h-4" aria-hidden="true">
        <use href="{{asset 'cache/sprite.svg#dark-icon'}}"></use>
    </svg>
</button>
<button type="button" class="btn-darkmode btn-dark color-mode-switch hs-dark-mode-active:flex" data-hs-theme-click-value="light">
    <svg class="w-4 h-4" aria-hidden="true">
        <use href="{{asset 'cache/sprite.svg#light-icon'}}"></use>
    </svg>
</button>