<div class="hs-dropdown [--placement:bottom]">
  <button id="hs-dropdown-2" type="button" class="text-sm font-medium text-black align-middle transition-all bg-white hs-dropdown-toggle dark:bg-black dark:text-white">
    <svg viewBox="0 0 100 100" aria-hidden='true' class="w-6 h-6">
      <use href="{{asset "cache/sprite.svg#dot-icon"}}"></use>
    </svg>
  </button>

  <div class="hs-dropdown-menu hs-dropdown-open:opacity-100 d-menu" aria-labelledby="hs-dropdown-2">
    <div class="flex flex-col gap-1 py-2 divide-y divide-lightgray dark:divide-darkgray first:pt-0 last:pb-0">
    
    {{navigation type="secondary"}}

    </div>
  </div>
</div>