{{#get "posts" filter="featured:true" limit="3" as |posts|}}
{{#if posts}}
<div class="justify-between w-full gap-0 bg-white border rounded-lg dark:border-gray-700 dark:bg-zinc-900 not-prose">
  <h2
    class="items-center w-full px-4 py-5 text-lg font-bold text-gray-800 bg-gray-100 border-b rounded-t-lg dark:bg-black dark:border-gray-700 dark:text-white">
    {{t "Featured Posts"}}</h2>
  <div class="flex flex-col justify-between divide-y dark:divide-gray-700">
  {{#foreach posts fields="title,url"}}
  <li
    class="inline-flex items-center px-4 py-5 text-base text-gray-800 dark:text-gray-200">
    <div class="flex justify-between w-full">
      <a class="font-semibold" href="{{ url }}">{{ title }}</a>
    </div>
    <div class="inline-flex items-center px-2 py-1">
      <svg viewBox="0 0 100 100" aria-hidden="true" class="w-5 h-5 text-red-500">
          <use href="{{asset "cache/sprite.svg#fire-icon"}}"></use>
      </svg>
    </div>
  </li>
  {{/foreach}}
  </div> 
</div>
{{/if}}
{{/get}}